[2021-06-30 01:04] vzhong opened #4 "What are the splits used in the paper?"
Hey @swarooprm , I am very interested in this work and would like to reproduce your results. Can you please share the exact splits used in the paper? I am confused about how some of these splits are obtained. For example it looks like some of the evaluation tasks have less than 1k examples:

[code]

However, the paper mentions that each task has 6.5k train, 0.5k validation, and 1k test examples. H

[2021-06-30 01:04] vzhong commented on #4
CC @danyaljj

[2021-07-10 08:23] swarooprm opened #13 "Parsing error in tasks from Natural Instructions"
1. Categories need to be fixed, it should be 'question generation', 'answer generation' etc., and not just generation. Readme contains correct categories.
2. All the negative examples are missing (e.g. task 039 in comparison with https://instructions.apps.allenai.org/dataset_viewer?file=subtask039_qasc_find_overlapping_words.json), need to add those in various tasks inside the tasks folder.
3. <Op

[2021-07-13 20:21] danyaljj opened #18 "Adding semantic parsing tasks"
I think semantic parsing tasks could good additions, as long as the meaning of the "parse" can be easily defined in terms of natural language. Worth looking into the existing datasets:

http://nlpprogress.com/english/semantic_parsing.html
https://paperswithcode.com/task/semantic-parsing

[2021-07-13 20:51] danyaljj opened #19 "grounding instruction following"
Could be of interest:
https://arxiv.org/abs/1912.01734
https://aclanthology.org/D18-1286.pdf

[2021-07-13 20:53] danyaljj opened #20 "language puzzles"
https://aclanthology.org/D15-1118.pdf
https://aclanthology.org/W04-0902.pdf
https://aclanthology.org/D18-1182.pdf
https://aclanthology.org/P15-4014.pdf

[2021-07-13 20:55] danyaljj opened #21 "lexical semantics tasks"
https://aclanthology.org/P16-1226.pdf
https://arxiv.org/pdf/1608.05014v3.pdf
https://aclanthology.org/N18-2035.pdf
https://aclanthology.org/P18-1111.pdf
https://arxiv.org/pdf/2004.14979.pdf

[2021-07-17 23:02] danyaljj opened #24 "Turn on the constraint for negative examples"
After fixing the issue with the old negatives, bring this line back:
https://github.com/allenai/natural-instructions-expansion/blob/master/src/test_all.py#L41

[2021-07-17 23:27] swarooprm opened #25 "Add test to remove instance repetition"
Whenever samples are being created automatically using code, there is a higher chance of repetition among instances. Add a test to check and remove that.

[2021-07-18 18:48] danyaljj opened #28 "Keeping track of states"
https://github.com/kayburns/tom-qa-dataset

[2021-07-19 03:34] danyaljj opened #31 "A field for "source""
To keep track of where the data/annotations came from.

[2021-07-19 16:34] swarooprm commented on #4
Reiterating our older email conversation "In our dataset, a task can have a maximum of 6.5k instances, however there are tasks with fewer instances. We have capped the number of instances to 6.5k so that the imbalance in the number of instances across tasks is minimal. While training, we oversample tasks with fewer instances and keep the number of instances across tasks constant (6.5k).

In our la

[2021-07-19 16:34] #4 closed

[2021-07-22 20:36] danyaljj opened #39 "Repeated instances found in the tasks"
* @kurbster Looks task 77 merged in  #15 has some repeated instances. For example, check the following input which appears twice:
[code]
Note that the two outputs corresponding to this input are different. Assuming that both these outputs are valid outputs, you'd need to group them to form one single instance (one input and two distinct valid outputs).

Please send a PR with the fix.

[2021-07-22 20:46] danyaljj commented on #39
@shailaja183 your task also has repeated instances.

Check for `Passage: Sandra journeyed to the bathroom. Daniel moved to the garden. Question: Where is Daniel?` in the following task:  `task083_babi_t1_single_supporting_fact_answer_generation`

[2021-07-22 20:47] danyaljj commented on #39
@kurbster also see the following repeated line:
[code]
in
`task096_conala_list_index_subtraction.json`

[2021-07-22 20:54] danyaljj commented on #39
@shailaja183 Also see
[code]
in: `task084_babi_t1_single_supporting_fact_identify_relevant_fact.json`

[2021-07-22 20:55] danyaljj commented on #39
@kurbster See
[code]
in `task097_conala_remove_duplicates.json`

[2021-07-22 20:56] danyaljj commented on #39
@kurbster and
[code]
in
[code]

[2021-07-22 20:57] danyaljj commented on #39
@shailaja183

[code]
in
[code]

[2021-07-23 04:21] danyaljj commented on #39
@shailaja183 @kurbster just checking if you have seen my earlier comments.

[2021-07-23 17:20] swarooprm commented on #39
@kurbster , also when you fix these rename task075 to the latest task number (107 at this point), task075 is repeated with another submitted task

[2021-07-23 18:52] shailaja183 commented on #39
I have fixed babi tasks regarding repetition of instances. Let me know if the issue persists on my end.
New commit: repeat instances fix - fa802e9

[2021-07-23 19:12] danyaljj commented on #39
@shailaja183 you gotta put that commit on a branch and send a PR (so that we can merge it with our main branch).

[2021-07-23 20:14] kurbster commented on #39
Yes, I fixed the errors and made a python script to check for repetitions. I will make a PR.

[2021-07-24 05:10] #39 closed, assigned to nobody

[2021-07-24 05:10] danyaljj commented on #39
Thank you all!

[2021-07-24 05:13] danyaljj commented on #25
Closed by #38

[2021-07-24 05:13] #25 closed, assigned to nobody

[2021-07-24 05:13] danyaljj commented on #7
Closed by #38

[2021-07-24 05:24] swarooprm opened #43 "Positive examples and instances should not contain same data"
This should be avoided, otherwise, evaluation won't be fair. I ensured this, especially while experimenting with a lot of examples for GPT3. We need to add a test here.

[2021-07-24 07:54] danyaljj opened #46 "PR 34 broke the tests"
@Mihir3009 looks like your PR #34 was not properly tested and our main branch is failing the test.
Could you check the logs and fix the issue?:
https://github.com/allenai/natural-instructions-expansion/runs/3149658504

[2021-07-24 14:51] swarooprm commented on #46
Seems like this is because we did not have a test to check instance repetition when the PR was originally submitted. We added this test later, but since the PR was already approved, it did not get re-tested with the updated tests and so it failing while merging

[2021-07-24 17:42] Mihir3009 commented on #46
I updated the files. Please check latest pull request for that

[2021-07-24 17:47] swarooprm commented on #46
Thanks! The test is now passing the main branch.

[2021-07-24 17:47] #46 closed, assigned to nobody

[2021-07-26 05:57] Palipoor opened #52 "Multiple possible outputs for one input"
Hi,
If the "input"s are the same for several data points, but there're several possible outputs, should they be merged into one data point with multiple "output"s?

[2021-07-26 14:58] swarooprm commented on #52
yes, concate them as a list in your instances. So it should be a single data point.

[2021-07-26 14:58] #52 closed, assigned to nobody

[2021-07-26 17:17] danyaljj opened #54 "naming of the task files"
I suggest we change the naming so that we don' have a task # in the file name (which creates a lot of headaches now that we have many submissions). Now the naming would be: `{source}_{task}.json`

[2021-07-26 17:19] danyaljj commented on #31
Needs to be fixed in a different PR.

[2021-07-26 18:16] danyaljj commented on #54
Deemed unimportant in our conversation.

[2021-07-26 18:16] #54 closed, assigned to nobody

[2021-07-27 17:39] #13 closed, assigned to nobody

[2021-07-27 17:39] #24 closed, assigned to swarooprm

[2021-07-27 17:39] #43 closed, assigned to swarooprm

[2021-07-27 17:40] #31 closed, assigned to nobody

[2021-07-27 19:55] swarooprm opened #55 "Randomization issue in tests"
@nrjvarshney reports that there is possibly some randomization in the testing script. Sometimes an error appears, sometimes it does not. Also, sometimes all test passes in local, but on the repo, the test fails.

[2021-07-27 20:03] danyaljj commented on #55
it's due to this line:
https://github.com/allenai/natural-instructions-expansion/blob/master/src/test_all.py#L58-L59
You can increase `500` to a larger number to cover more cases.

[2021-07-28 06:15] #55 closed, assigned to nobody

[2021-07-30 14:51] danyaljj opened #63 "test for short inputs"
short inputs (less than 5 tokens or 2 words) are red flags

[2021-07-31 06:21] danyaljj opened #64 "`hypter` tasks"
Incorporate the datasets from https://github.com/INK-USC/hypter

[2021-07-31 06:22] danyaljj opened #65 "The original dataset templates"
For the datasets that we're allowed to, I think it makes sense to include their templates in repo.

[2021-08-03 21:02] danyaljj opened #70 "Answer plausibility task for MCTACO and other existing tasks"
We can add answer plausibility tasks for MCTACO and other existing QA datasets in the repo.
Inspired from this:
https://github.com/bigscience-workshop/promptsource/blob/main/promptsource/templates/mc_taco/templates.yaml#L5-L20

[2021-08-03 21:06] danyaljj opened #71 "temporal reasoning category verification -> classification"
Can convert this task: https://instructions.apps.allenai.org/dataset_viewer?file=subtask019_mctaco_temporal_reasoning_category.json
into the task of classifying what is the temporal category of the given question.

PS. When splitting the data into test and train, we should make sure to include such sister tasks in the split.

[2021-08-05 22:04] danyaljj opened #73 "SCAN dataset"
https://github.com/brendenlake/SCAN

[2021-08-05 22:07] danyaljj opened #74 "Datasets for compositional generalization"
https://arxiv.org/pdf/2010.12725.pdf

[2021-08-06 20:24] swarooprm opened #77 "Fix negative example annnotation in classification tasks"
There are some annotation issues in negative examples for classification tasks
https://instructions.apps.allenai.org/dataset_viewer?file=subtask022_cosmosqa_passage_inappropriate_binary.json

Need to find out those all and fix

[2021-08-07 18:45] danyaljj opened #78 "zest: how to formulate"
@yeganehkordi  asks:

Make sure to follow the schema outlined in the main readme: `input` should be a string and `output` should be a list of equally valid responses.

In terms of what tasks to include, we should follow the annotations template/results here:
https://github.com/allenai/zest/tree/master/mturk-templates

FYI @swarooprm

[2021-08-08 20:39] eshaanpathak commented on #73
I can take a look at this one. How many tasks should there be? I was thinking 3 with one from the entire dataset, one from tasks_train_length.txt for shorter sequences, and one from tasks_test_length.txt for longer sequences. Let me know what you think!

[2021-08-08 20:54] danyaljj commented on #73
Thanks for taking the initiative on this! 🙏

Sounds reasonable to me. And I think, each of these can be done in two directions:

- command to action sequence
- action sequence to the command

FYI @swarooprm

[2021-08-08 21:00] eshaanpathak commented on #73
I like that idea. I'll get started on this. What would the categories be for this? Long Text Generation and Text Modification?

[2021-08-08 21:21] danyaljj commented on #73
Cool, thanks!

I think "action sequence to the command" is more like "Long Text Generation".

The reverse direction (mapping text to pre-defined steps) is more like "parsing" into formal language. @swarooprm what should be the category in this case?

[2021-08-08 21:45] swarooprm commented on #73
Good question! We don't have a well-defined category here. I suggest to have "structured text generation" category for the second task (mapping text to pre-defined steps).

Note that, we have a similar task where we convert natural language to SQL (https://github.com/allenai/natural-instructions-expansion/blob/master/tasks/task107_splash_question_to_sql.json).

[2021-08-11 07:09] eshaanpathak commented on #28
I can take this on. How many tasks should there be? I was thinking 4 based off of the directories, but there are different task types and question types in the directories. Please let me know what you think!

Pinging @swarooprm on this to get his thoughts too.

[2021-08-11 07:57] swarooprm commented on #28
Yes, there can be 4 tasks at least. I agree that there can be more tasks based on the question types and task types, but that might be slightly tricky to find out.
Please follow these rules whenever you plan to break a dataset into multiple tasks.
- The difference between two tasks can not be just based on the difference in the question asked. E.g. in a typical QA dataset say SQuAD there are multi

[2021-08-11 08:42] swarooprm commented on #73
https://github.com/allenai/natural-instructions-expansion/pull/81 addressed it.

[2021-08-11 08:42] #73 closed, assigned to nobody

[2021-08-11 13:26] danyaljj opened #85 "tamilcube questions/tasks"
http://tamilcube.com/career/aptitude-test/logical-reasoning/

[2021-08-12 03:11] liusiyi641 opened #87 "Should we separate it to different tasks for different topics in one dataset?"
The AFS (argument facet similarity) dataset has argument pairs with similarity scores in three different topics (gun control, death penalty, gay marriage). They are all basically the same task, but the topic they are discussing are different. I was thinking that I should combine them into one argument similarity task, but they provided their data in separate files, and they also separated all of t

[2021-08-12 21:55] swarooprm commented on #87
Good question!
Seems like finding similarity scores for various argument pairs require some sort of domain knowledge that is specific to each of the 3 topics (gun control, death penalty, gay marriage). A person having knowledge about gun control may not be able to answer similar questions on death penalty etc. Please have a look at the data and verify if this is true. If this is true, then create

[2021-08-12 21:55] #87 closed, assigned to nobody

[2021-08-15 07:59] eshaanpathak opened #93 "Is the CODAH dataset a good addition?"
I'm currently looking at the CODAH dataset that was listed in the spreadsheet (https://github.com/Websail-NU/CODAH). Is this a good addition? The paper states that this dataset was adversarially constructed so GPT-1 and BERT would struggle, but after looking at the dataset, I'm pretty confident that current large SOTA models (GPT-3, T5, RoBERTa, etc.) will crush this. Should I still go ahead and f

[2021-08-15 08:05] swarooprm commented on #93
Yes. We also have its templates collected.
Regarding GPT3, T5 solving it: we also have SQuAD dataset in our collection. Easier datasets can be used for training,  note that we don't plan to use all datasets for evaluation.

[2021-08-15 08:08] #93 closed, assigned to nobody

[2021-08-16 03:28] #28 closed, assigned to nobody

[2021-08-16 03:38] danyaljj opened #94 "Define a task for POS tagging"
- The task definition would have to define a list of tags (it could be coarse labels, such as verb, noun, etc. Or fine-grained like `VB`, `VBB`, etc).
 - each instance can be: `what is the part-of-speech tag of the word x in the following sentence: y`?
 - there are a couple of pos tagging datasets out there we can use for this: http://nlpprogress.com/english/part-of-speech_tagging.html#:~:text=A%2

[2021-08-16 03:41] danyaljj opened #95 "Define an NER task"
- The task definition would have to define a list of tags (it could be coarse labels, such as `Person, Location`, etc. Or fine-grained like `president, politician, doctor`, etc).
 - each instance can be: what is the semantic type of the mention x in the following sentence: y?
 - there are a couple of datasets out there we can use for this: https://github.com/juand-r/entity-recognition-datasets

[2021-08-20 13:38] danyaljj opened #112 "list of task types"
- Have a readme file containing all the task categories and their description
 - The test script should ensure that the provided category type is included in the above readme file.

[2021-08-20 17:43] danyaljj opened #113 "Language indicator key/values to the schema"
Add language indicator to the schema:
 - "Input_language": language of the input/instructions
 - "Output_language": language of the responses/output

We can specify these languages via their [two-digit ISO 639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

[2021-08-24 02:08] #78 closed, assigned to nobody

[2021-08-24 03:06] danyaljj opened #119 "Defeasible reasoning task/dataset"
From here: https://aclanthology.org/2020.findings-emnlp.418.pdf

[2021-08-26 15:51] danyaljj opened #127 "Tasks built based on coding challenges"
We can use the task description of coding challenges (the ones that are relatively simple to understand for avg humans) and create input/output instances based on the solution program.

https://leetcode.com/
https://www.codechef.com/problems/school
https://edabit.com/challenges

[2021-08-27 02:35] danyaljj opened #130 "Abductive reasoning dataset"
https://github.com/facebookresearch/anli

Can be added a as a classification and generation tasks

[2021-08-27 02:36] danyaljj opened #131 "Counterfactual reasoning task"
https://www.semanticscholar.org/paper/Counterfactual-Story-Reasoning-and-Generation-Qin-Bosselut/4d16457cded23bce6eaa91cd17aefd22af2279f0

[2021-08-27 18:19] danyaljj commented on #130
Looks like this is already included: `task069_abductivenli_classification`

[2021-08-27 18:19] #130 closed, assigned to nobody

[2021-08-27 18:22] danyaljj opened #133 "Allow multiple task definitions"
Currently, we support only a single task definition.
It might be a good idea to have a list of task definitions, in case in future people add different task definitions to the data.
And some of these task definitions could be various forms of "reframed" task definitions.

[2021-08-27 20:43] danyaljj opened #135 "Text transformations"
Pretty much any of the text transformations [here](https://github.com/GEM-benchmark/NL-Augmenter/tree/main/transformations) can be described in plain English and hence can be included as part of natural instructions.

[2021-08-29 01:35] danyaljj opened #138 "Dataset of stances and perspectives"
https://github.com/CogComp/perspectrum

[2021-08-30 16:11] danyaljj opened #143 "TellMeWhy"
https://www.semanticscholar.org/paper/TellMeWhy%3A-A-Dataset-for-Answering-Why-Questions-in-Lal-Chambers/3eeedb6651a629a105c1185ada862e2cad7a0522?utm_content=title&utm_medium=alert&utm_source=slackbot

[2021-08-30 21:10] swarooprm commented on #127
FYI: @DZuoShi

[2021-08-31 05:19] swarooprm commented on #127
FYI: @maykillmore

[2021-08-31 15:40] danyaljj commented on #113
Assuming that "Input_language" refers to the input instances, we should also have an "instruction_language".

[2021-09-02 01:27] Maitreyapatel commented on #131
This sounds interesting problem. Let me create few tasks from this data.

[2021-09-02 07:51] eshaanpathak opened #154 "Code Templates For Formatting Datasets!"
Hey all, I decided to post all of my code for the tasks I have contributed so far here in [a public repository on my account](https://github.com/eshaanpathak/natural-instructions-code). They follow a pretty structured and neat approach (besides the one for Detoxifying LMs since that was my first contribution when I was getting the hang of things). I hope they help! Feel free to clone and ask any q

[2021-09-02 18:41] kushalchawla opened #160 "Subtasks based on dialog datasets"
Hi. Are the sub-tasks created from a dialogue dataset in the scope of this project? For instance, utterance-level or dialogue-level classification tasks with natural instructions? I cannot find any other tasks created in this way. Can you share an example?

I would like to add our recent work at NAACL 2021 (https://aclanthology.org/2021.naacl-main.254.pdf). Our dataset contains negotiation dialogu

[2021-09-02 21:18] danyaljj commented on #160
As long as the tasks is well-defined for many average English speakers, we're happy with it.

[2021-09-03 00:41] kushalchawla commented on #160
Sounds good. Thanks. I will get to work.

[2021-09-03 00:41] #160 closed, assigned to nobody

[2021-09-03 18:39] danyaljj opened #174 "Corefence datasets"
Suggestion: add tasks related to coreference resolution

 - [x] GAP: https://github.com/google-research-datasets/gap-coreference
 - [ ] CoNLL 2012 http://nlpprogress.com/english/coreference_resolution.html
 - [ ] OntoNotes  https://paperswithcode.com/sota/coreference-resolution-on-ontonotes
 - [ ] PreCo https://preschool-lab.github.io/PreCo/

[2021-09-03 19:56] yeganehkordi commented on #174
I'll work on GAP.

[2021-09-03 20:00] yeganehkordi commented on #143
I think this task is done: #168

[2021-09-04 03:27] eshaanpathak commented on #127
This may also be helpful or relevant, though it is pseudocode to code and could also go vice versa: https://sumith1896.github.io/spoc/

Time to make our own OpenAI Codex lol.

[2021-09-04 23:07] swarooprm commented on #135
Also, add unsupervised data creation techniques to synthetically create data.

[2021-09-05 23:34] swarooprm commented on #131
Dataset here is the "Time Travel" dataset, we have task065 and task066 which used part of the original crowdsourcing template, but more tasks can certainly be created.

[2021-09-08 08:17] danyaljj opened #206 "Human evaluation of the tasks"
# Purpose
We need to ensure the quality of the presented tasks.
One way to do this is to ask human annotators (crowd workers) to read our instructions and answer them.

# Stages
I am assuming that we're gonna use AMTI for this: https://github.com/allenai/amti
- [x] Have a crowdsourcing template with place-holders for the instructions / positive examples / negative examples.
- [x] Have a script to

[2021-09-08 16:33] #143 closed, assigned to nobody

[2021-09-08 17:32] danyaljj opened #208 "CREEK"
https://openreview.net/pdf?id=mbW_GT3ZN-

[2021-09-09 18:49] danyaljj opened #217 "ATOMIC"
One can create tasks based on the atomic data, where the task definitions define the edges/relations in their dataset:
https://allenai.org/data/atomic-2020

[2021-09-09 19:42] swarooprm commented on #217
This one is huge and has a lot of varieties, many tasks can be done using this. Same is true for Conceptnet.

[2021-09-10 05:40] danyaljj opened #220 "Style transfer"
https://arxiv.org/pdf/2109.03910.pdf

[2021-09-10 17:56] danyaljj opened #222 "TLDR; summarizing paper abstracts"
https://github.com/allenai/scitldr

[2021-09-11 20:43] yeganehkordi commented on #217
I looked at this dataset. I thought of defining the edges/relations task and several classification tasks based on the meaning (Physical-Entity Commonsense, Social-Interaction Commonsense, and Event-Centered Commonsense) and the relations. I might be able to define 27 tasks based on this dataset. How many tasks and which tasks are desirable?

[2021-09-14 00:26] swarooprm opened #257 "Measuring Massive Multitask Language Understanding"
https://arxiv.org/abs/2009.03300

This covers 57 tasks including elementary mathematics, US history, computer science, law, and more.

[2021-09-14 17:50] ayush-anand-13 commented on #127
Yes I'll start working on this. Just submitted a big assignment for 515 and
I can get on this.

On Fri, 3 Sep, 2021, 8:27 pm Eshaan Pathak, ***@***.***>
wrote:

[2021-09-14 23:09] danyaljj opened #266 "Style Transfer as Instructions"
https://arxiv.org/pdf/2109.03910.pdf

[2021-09-17 00:26] aleSuglia opened #273 "[Question]: JSONL format instead of JSON?"
Hi there,

This is a fantastic initiative. Thanks a lot for starting this!

I am eager to start contributing and I started looking at the dataset format.

I started looking at the documentation and I realised that the default format is JSON. I was wondering why when it would be very cumbersome to load in memory the dataset every time. On the other hand, JSONL gives you the possibility to format ea

[2021-09-17 14:55] amirrezamirzaei commented on #208
I think we can close this.

[2021-09-17 15:28] #208 closed, assigned to nobody

[2021-09-19 12:31] mishra-sid commented on #95
Hi, I'm working on this task since It's similar in structure to PoS tagging ( for which I recently raised a PR #279) for some datasets commonly used as benchmark for this task ( http://nlpprogress.com/english/named_entity_recognition.html ):
1. CoNLL
2. GUM-3.1.0
3. wikigold
4. BTC

[2021-09-20 04:56] danyaljj opened #283 "Reply suggestion dataset"
https://www.microsoft.com/en-us/research/uploads/prod/2021/06/mrs_acl2021_zhang.pdf

[2021-09-20 05:03] danyaljj commented on #273
Hi @aleSuglia 👋  We chose JSON over JSONL because our task structure/scheme (as indicated in the main readme) is not quite flat. In particular, the instructions which define the task, are shared among all the instances. If we wanted to go with JSONL we could have repeated such common details at every line, which would result in a lot of necessary redundancy.
Besides, our task files are not that la

[2021-09-20 15:22] danyaljj opened #286 "natural-ness evaluation"
https://arxiv.org/pdf/2109.02938.pdf

[2021-09-20 17:06] swarooprm commented on #133
I am taking this up along with some collaborators.

[2021-09-20 17:07] swarooprm commented on #135
I am taking this up along with some collaborators.

[2021-09-20 17:21] swarooprm commented on #217
You are right! Different relations produce different tasks.
Re: How many tasks: No such estimate, more the better :)

[2021-09-20 17:35] swarooprm opened #288 "Potential data loss"
On sampling 6.5k from the dataset, we lose the remaining data. Often, the data loss could be high as some datasets have ~100k data.

[2021-09-20 22:26] shailaja183 opened #289 "Taxonomy changes for Answer Generation and Classification Tasks"
As observed in PR #258, we might need to redefine taxonomies of following tasks;
1. Answer generation might be too generic at times -> Narrow down to  'Text Span Selection'
2. Classification (use mainly for sentence level classification) -> Define 'Token Classification' separately

[2021-09-21 13:36] tanay2001 commented on #220
I'll take this up

[2021-09-21 13:42] tanay2001 opened #292 "[Question]: Translation tasks for diverse language pairs"
Hi @danyaljj

I wanted to cross-check if adding Translation tasks for language pairs(not covered yet) would be considered a valid contribution?

Thanks

[2021-09-21 14:06] danyaljj commented on #292
We prefer if you work on non-translation tasks at this point. Check on some other issues with "task-suggestion" tags on them for some ideas.

[2021-09-21 14:06] #292 closed, assigned to nobody

[2021-09-21 14:06] #273 closed, assigned to nobody

[2021-09-22 02:29] danyaljj opened #301 "Commonsense Knowledge Base Population"
We might be able to define a task based on this:
https://arxiv.org/pdf/2109.07679.pdf

[2021-09-27 16:01] swarooprm commented on #127
I guess @Ravsehajsinghpuri is also working on it.

[2021-09-27 16:07] swarooprm commented on #127
Make sure to create a PR soon so that your tasks get registered.
Note that, if multiple people create the exact same task, we usually accept the PR created first and ask the other person to change their PR.

[2021-09-29 17:52] Palipoor opened #349 "ProtoQA"
This might be a good dataset: https://arxiv.org/abs/2005.00771

[2021-09-29 17:56] swarooprm commented on #349
I think its already done. Will add the pointer when I find the relevant PR.

[2021-09-29 17:57] Palipoor commented on #283
I will take this.

[2021-09-29 19:11] swarooprm commented on #349
https://github.com/allenai/natural-instructions-expansion/pull/323

[2021-09-29 20:14] Palipoor commented on #349
oh ok then! sorry

[2021-09-29 20:14] #349 closed, assigned to nobody

[2021-09-29 22:22] danyaljj opened #350 "boldface instructions"
@ghlai9665 in #348 suggested that:

[2021-09-30 08:57] Sujan242 commented on #119
I'll take this up

[2021-10-01 16:18] ashok-arjun commented on #174
@danyaljj Is this issue still open?

Can I work on the other 3, as 3 separate tasks?

[2021-10-01 16:19] ashok-arjun commented on #217
@yeganehkordi If you're still working on this and need help, I can collaborate and take up some tasks

[2021-10-01 16:20] ashok-arjun commented on #74
I'd like to work on this. Can you please give me some more pointers, if possible?

[2021-10-01 16:29] danyaljj commented on #74
Here is the GeoQuery dataset used in this work:  https://www.cs.utexas.edu/users/ml/nldata/geoquery.html
I am not 100% sure, but I suspect you can formulate this as a QA task.

I also found [this dataset](https://github.com/najoungkim/COGS), introduced by [this work](https://arxiv.org/pdf/2010.05465.pdf) although I am not sure how easy it is to incorporate as one of our tasks.

Finally, a useful r

[2021-10-01 16:35] ashok-arjun commented on #74
Thank you!

[2021-10-01 17:48] danyaljj commented on #174
GAP was addressed in  #182. But I think the rest of the items are open.

[2021-10-01 21:36] yeganehkordi commented on #217
@ashok-arjun Thanks! I haven't started working on the classification tasks based on the meaning (Physical-Entity Commonsense, Social-Interaction Commonsense, and Event-Centered Commonsense). Feel free to take them.

[2021-10-02 16:17] ashok-arjun commented on #52
By "concatenate", do you mean using **commas**? That is, an instance would be like below ?

[code]

@swarooprm

[2021-10-02 16:31] ashok-arjun opened #362 "Analogical reasoning"
I'd like to know if analogical reasoning tasks in this format will be accepted:

[code]

These are valid tasks and would be beneficial, but I'm not sure of the format. Please help @swarooprm @danyaljj

[2021-10-02 17:43] swarooprm commented on #362
Yes, you are encouraged to create such tasks. We don't have such tasks in our repo. Please add @ashok-arjun

[2021-10-02 17:43] #362 closed, assigned to nobody

[2021-10-02 18:00] swarooprm commented on #52
The definition will ask to generate a single output.
Positive and Negative examples will be have single output:
{
      "input": "THE_INPUT",
      "output": "OUTPUT_1",

 }
Instances:
{
      "input": "THE_INPUT",
      "output": ["OUTPUT_1", "OUTPUT_2", "OUTPUT_3"],

 }

Look at task001 which illustrates the same https://raw.githubusercontent.com/allenai/natural-instructions-expansion/master/tas

[2021-10-03 21:24] swarooprm opened #365 "Task512 source dataset"
I did not find the source dataset in the paper https://aclanthology.org/D18-1404.pdf mentioned as source in task512 (https://github.com/allenai/natural-instructions-expansion/blob/master/tasks/task512_twitter_emotion_classification.json)

Can you point me to the github location you used to download the dataset?
@gkaramanolakis

[2021-10-03 21:35] swarooprm opened #366 "Task 171-175 source dataset"
@Mehrad0711, can you point me to the location where I can find the source datasets used in task 171-175.
I am not sure of its exact location in https://github.com/stanford-oval/SPL

[2021-10-03 22:48] gkaramanolakis commented on #365
The paper describes the pre-processing procedure of the dataset that I found here: https://huggingface.co/datasets/emotion. Here is more info: https://github.com/huggingface/datasets/blob/master/datasets/emotion/README.md

[2021-10-03 22:52] swarooprm commented on #365
Thanks!

[2021-10-03 22:52] #365 closed, assigned to nobody

[2021-10-04 04:11] danyaljj opened #369 "overlap between datasets"
Some datasets are built on similar resources.
There is a concern that some task instances might overlap with each other.
It might make sense to add tests that check whether any task pairs have overlap in terms of their instances (input/output)

[2021-10-04 22:51] eshaanpathak commented on #369
This is a good idea; I just don't know how we would go about implementing it. What if the formatting between instances of different tasks (but from overlapping data) is different?

For example, let's say an instance from task 1 is "I love NLP because it is \nCompletion A: fun to study. \nCompletion B: something I don't love." to which the desired output is "Completion A" whereas an instance from t

[2021-10-04 23:56] danyaljj commented on #369
Right, the's a legitimate concern.

My intuition is that we can automatically detect task pairs that:
 - (A) the definition/instructions of the two tasks are the same (say, their token overlap is > 70%).
 - (B) if (A) is true, decide if there are instances that are equivalent(say, if their token overlap of "input" + "output" is > 80%)

These kinds of rules can go a long way in detecting cases like

[2021-10-05 00:35] Palipoor commented on #206
Hi @danyaljj!
Is anything done here? I'd love to learn to use mturk for crowdsourcing and if someone is not on it, I'd like to pick it up. If that's ok.

[2021-10-05 02:29] danyaljj commented on #206
Glad to hear! For running mturk experiments, we must run the experiments (we're using an internal account for AI2 which cannot be shared with the outside world). However, we can use your help with the analysis of the mturk results (like whether crowdworkers were happy w/ a particular task definition; if not, why and how can we fix it). Let me know if that's something that you can help with.  FYI @

[2021-10-05 03:34] Palipoor commented on #206
Sure! I can!

[2021-10-05 17:04] danyaljj opened #373 "Claim verification data augmentation"
https://arxiv.org/pdf/2109.15107.pdf

[2021-10-06 02:18] Mehrad0711 commented on #366
Hi @swarooprm,
Instructions to download the dataset (and pretrained models) are under "Pretrained models and datasets" header in that repo.
Alternatively, you can download the restaurants dataset from which those tasks are created from [this link](
https://almond-static.stanford.edu/research/SPL/dataset/restaurants.tar.gz)
Hope this helps.

[2021-10-07 00:19] danyaljj opened #382 "Additional tests for task names"
- if there is a duplicate line in the tasks readme, fail
 - if there is a line with no corresponding file, fail

[2021-10-07 03:01] danyaljj opened #383 "Classification [im]balance"
In the test file, automatically detect classification tasks and flag those that have too large of skew.

[2021-10-07 03:05] danyaljj opened #384 "Decomposing math problems into steps"
Down the line when we support structured outputs:
https://math-qa.github.io/math-QA/

For now, we can build simpler tasks based on this.

[2021-10-07 03:05] #94 closed, assigned to nobody

[2021-10-07 16:48] ashok-arjun commented on #217
Can you explain what you mean by classification tasks? @yeganehkordi Because all I see in the dataset are such tasks?

Does this also mean you've also worked on some tasks from the dataset?

[2021-10-07 17:29] ashok-arjun commented on #217
@swarooprm @danyaljj Would physical entity tasks be defined in the following way be acceptable? I'm not sure since the input isn't a sentence

**Task**: Predict what the entity is made up of

**Input**: Bread
**Output**: Dough, wheat

[2021-10-07 18:01] danyaljj commented on #217
Yeah I think that should be good!

[2021-10-07 18:02] danyaljj commented on #217
Just have this in mind that: small high-quality data is better than large low-quality data.

[2021-10-07 18:21] ashok-arjun commented on #217
Sure - I'll hand-pick about 15-20 required tasks and work on them.

[2021-10-07 18:49] yeganehkordi commented on #217
Yes, I created binary classification tasks based on the relations. For example: determine if given sentences have oEffect relation.
Also, I have created one task that, given the edges, asks the relation between them.
Besides them, you can create classification tasks based on the meaning. For example, if two edges have a Social-Interaction Commonsense relation or not.

[2021-10-07 19:05] danyaljj commented on #217
Are these tasks merged in? Don't remember seeing them ...

[2021-10-07 19:10] yeganehkordi commented on #217
No, Actually I was a bit busy. I'll create a pull request soon.

[2021-10-07 19:11] danyaljj commented on #217
Got it, take your time!

[2021-10-07 19:18] ashok-arjun commented on #217
@yeganehkordi  I just finished working on +ve and -ve examples and instances for about 20 tasks of this manner. Could you please let me open the PR instead?

[2021-10-07 19:23] yeganehkordi commented on #217
Well, I don't know exactly what to do in this case. @danyaljj Is it okay if we keep both tasks? I guess we had the same problem with stereoset tasks before.

[2021-10-07 20:19] Palipoor opened #385 "StylePTB: A Compositional Benchmark for Fine-grained Controllable Text Style Transfer"
This looks like a good task to add, but I wasn't sure whether it has been added before or not. I will add it if it isn't added.
https://aclanthology.org/2021.naacl-main.171.pdf

[2021-10-07 23:13] danyaljj commented on #217
I am not quite sure. Send whatever PRs you have. We'll resolve the issue based on the PR content.

[2021-10-09 06:20] swarooprm commented on #366
Thanks!

[2021-10-09 06:24] atharva-naik commented on #21
I'll try to create tasks from these papers.

[2021-10-11 08:56] mishra-sid commented on #384
I am making simple classification tasks based on this.

[2021-10-11 17:34] danyaljj opened #421 "Program synthesis"
https://arxiv.org/pdf/2108.07732.pdf
https://arxiv.org/abs/1912.12345
https://arxiv.org/abs/1807.03168

[2021-10-11 18:30] swarooprm commented on #421
Few more:
https://arxiv.org/abs/2105.09938
https://arxiv.org/pdf/2106.05784.pdf
https://arxiv.org/abs/2107.03374
Simplest: https://conala-corpus.github.io/ (we have a few tasks from this dataset in our repo)
https://arxiv.org/pdf/2109.00859.pdf

[2021-10-11 18:57] #113 closed, assigned to nobody

[2021-10-11 19:41] #382 closed, assigned to nobody

[2021-10-12 01:47] Palipoor opened #430 "Why input language must be str and not list?"
Hi!
I thought the tasks in the master branch have the correct format for Input/Output languages, but I saw this in the tests which fails:
[code]

Has the format changed?

[2021-10-12 01:51] danyaljj commented on #430
Yeah, the format has changed a bit. It's a list of language names to accommodate those tasks that are mixture of multiple languages.

[2021-10-12 01:52] danyaljj commented on #430
And that `str` is a typo. Should be `list`.

[2021-10-12 01:53] Palipoor commented on #430
Thanks.

[2021-10-12 01:53] #430 closed, assigned to nobody

[2021-10-13 04:20] danyaljj opened #435 "ESTER reading comprehension"
https://arxiv.org/pdf/2104.08350.pdf

[2021-10-13 19:14] danyaljj opened #440 "Natural language to bash commands"
https://github.com/TellinaTool/nl2bash
https://nlc2cmd.us-east.mybluemix.net/#/
https://docs.google.com/forms/d/e/1FAIpQLScjcUA1YKg3aTSVxviDAOmNOhX06v51flt7wAJcw-n_QbKjjw/viewform

[2021-10-13 23:29] swarooprm opened #442 "Missing tasks"
We have missed creating certain tasks from several datasets e.g. MCTACO MCQ task is missing (even though the original MCTACO dataset is in MCQ format).

Anyone is encouraged to create such missing tasks.

[2021-10-15 23:00] Palipoor opened #452 "Two tasks numbered 119!"
Hi!
For some reason we have two tasks numbered 119.

[2021-10-16 04:56] mishra-sid opened #454 "Add field for LICENSE / CITATION"
We should consider adding a field for license / citation of the source datasets since not all datasets have Creative Commons License and others require mandatory citations before the content of the dataset can be used.
There can be several of these instances present in our current tasks.
For example, Concepnet handles this using a [DATA-CREDITS.md](https://github.com/commonsense/conceptnet5/blob/m

[2021-10-16 17:30] eshaanpathak commented on #452
Yeah, I pointed this out in #224. Daniel said he was going to renumber tasks at the end once everything else is finalized.

[2021-10-18 03:57] danyaljj commented on #454
That's a good suggestion!

[2021-10-18 03:58] danyaljj commented on #454
For our scenario, the easiest might adding a `instances_license` key to the JSON file of each task. What do you think?

[2021-10-18 07:58] danyaljj opened #457 "task121_zest_text_modification definition"
`tasks/task121_zest_text_modification.json` definition is a bit convoluted.
@yeganehkordi  Let's think if we can improve the definition after #447 is merged in.

[2021-10-18 11:59] mishra-sid commented on #454
I agree !  I'll make a PR adding  this key to the README and tests.

[2021-10-18 17:02] danyaljj commented on #454
Sounds good, thanks!

[2021-10-19 16:13] yeganehkordi commented on #457
Sure! I'll try to make it better.

[2021-10-20 05:08] yeganehkordi commented on #457
@danyaljj I've addressed this issue in #455.

[2021-10-20 05:29] #457 closed, assigned to nobody

[2021-10-20 21:28] Mehrad0711 opened #462 "Relevant papers"
A new relevant paper by several researchers: https://arxiv.org/pdf/2110.08207.pdf
They show promising results on zero-shot task generalization by fine-tuning on task instructions and some examples.
They have a very detailed appendix (~150 pages) discussing constructions of tasks, training strategies, prompts etc. that could be helpful for this work.
This paper can be added as a second reference in

[2021-10-20 23:31] swarooprm opened #465 "Source dataset URL missing"
Source dataset URL is missing in most tasks.
Also, we should have a place to upload codes which were used to create instances in synthetic tasks.

[2021-10-21 14:25] #138 closed, assigned to nobody

[2021-10-21 18:48] danyaljj opened #468 "Task 201 bug"
@shailaja183 Looks like all the labels of this task are "2". I suppose it's a bug:
https://github.com/allenai/natural-instructions-expansion/blob/master/tasks/task201_mnli_neutral_classification.json

FYI @swarooprm: another instance of how human evaluation helped discover a systemic bug :)

[2021-10-21 18:50] swarooprm commented on #468
@aarunku5, can you check your code?

[2021-10-23 02:14] eshaanpathak commented on #462
Thanks for posting this, Mehrad! I came across this paper in my Twitter feed earlier this week and was about to share it with Swaroop and Daniel, but I accidentally closed my tab and forgot the name of the paper, so I was unable to find it until now. :)

Here are some other relevant links I have shared with Swaroop and Daniel over the past two months:

https://arxiv.org/abs/1806.08730
https://arxi

[2021-10-24 01:06] Mehrad0711 opened #477 "Tasks 535-564 naming"
I noticed tasks 535-564 are from ALT dataset but they have been named `task*_spl_*`. They should be renamed to `task*_alt_*`.

[2021-10-25 17:58] swarooprm opened #481 "task 078 inconsistent definitions"
https://github.com/allenai/natural-instructions-expansion/pull/474 mentions that definition and instances do not match in task 078, @kurbster can you have a look?

[2021-10-25 18:58] swarooprm opened #482 "Missing task numbers"
Let's update all the missing task numbers here, we can fill these numbers from the tasks in the latest PRs.
task063-064: https://github.com/allenai/natural-instructions-expansion/pull/474

[2021-10-26 01:08] kurbster commented on #481
Ah yes, the definition is incorrect. I had originally made a different task and I guess I forgot to update the definition. I will make a PR with the correct definition.

[2021-10-27 04:56] danyaljj opened #487 "TRACIE"
https://aclanthology.org/2021.naacl-main.107.pdf

[2021-10-27 16:58] andersonjwan commented on #482
@swarooprm I created a small script to find which tasks are missing from the list. Unfortunately, it is a lot - 314 total. You can run the script below if you are curious yourself.

p.s. The script should be ran in the `tasks/` directory. I've also attached the list of missing task numbers instead of posting a comment to reduce spam [here](https://github.com/allenai/natural-instructions-expansion/

[2021-10-27 18:39] danyaljj commented on #421
https://github.com/shaohua0116/awesome-program

[2021-10-27 21:46] #481 closed, assigned to nobody

[2021-10-27 21:47] danyaljj commented on #482
Thanks @andersonjwan!

[2021-10-27 21:56] danyaljj opened #488 "task 646 improvement"
Leftovers from PR#306:
There are many examples where there is more than one pronoun in the sentence.
Like here, the gold output should be ["it", "he"].
For having a more reliable evaluation, I think we should include all these valid answers in the output.

FYI @khushal1996

[2021-10-28 20:47] danyaljj opened #489 "task 886 improvement"
Based on the dataset (https://huggingface.co/datasets/quail), it looks like each paragraph comes with multiple questions.
In which case, each instance of task 886 (question generation) should have multiple unique questions.

FYI @saianirud

[2021-10-28 21:07] danyaljj opened #491 "input/output language for non-language tasks"
There are tasks where the output/input is not quite language (it might be SQL, table, code, etc).
In such cases, it might make sense to specify a different label than, say. "English".

[2021-10-28 21:39] danyaljj opened #492 "Improving task868_cfq_mcd1_explanation_to_sql.json"
This task seems to be quite difficult. Wondering if there is a way for us to improve it.

[2021-10-29 17:38] danyaljj opened #496 "contrastive explanations"
https://arxiv.org/pdf/2103.01378.pdf

[2021-10-30 01:41] #283 closed, assigned to nobody

[2021-10-30 06:48] PhaniRohithaKaza commented on #366
@Mehrad0711
Hello Mehrad,
I have accessed the dataset but there are no translations in that dataset folders. For example, I'm attaching a screenshot of the data. Could you please tell me how I should proceed?

<img width="907" alt="Datasetamb2" src="https://user-images.githubusercontent.com/42972743/139523494-a7fc6e01-5f33-4c87-adb6-bfdba1706697.png">
<img width="944" alt="DatasetAmbiguity" src="h

[2021-11-01 15:22] #468 closed, assigned to nobody

[2021-11-01 15:58] danyaljj opened #522 "XCOPA bug"
@amirrezamirzaei  In `task1179_xcopa_commonsense_cause_effect_th`, everything is mapped to `effect`.

[2021-11-01 16:06] danyaljj opened #523 "task1361_movierationales_classification.json bug"
In task `task1361_movierationales_classification.json` all the instances are mapped to `N`.

@swarooprm who can help with fixing this task?

[2021-11-01 16:09] amirrezamirzaei commented on #522
yes, I looked at the data it seems that they have been labeled incorrectly in the source [dataset](https://github.com/cambridgeltl/xcopa). I will try to label them correctly myself.

[2021-11-01 16:38] danyaljj commented on #522
I see. If it's something that will take more than 30 mins, don't waste your time on it (It might be easier to drop/replace the task.)

[2021-11-01 16:43] danyaljj opened #524 "task task903_deceptive_opinion_spam_classification bug"
Introduced in #340
@meghpatel  All instance labels are `true`.

[2021-11-01 16:58] Mehrad0711 commented on #366
Hi @PhaniRohithaKaza,
The dataset folder contains one directory per language. The SPL dataset is a semantic parsing dataset. Each file is monolingual and contains example ids, utterances, and formal annotation. The eval sets are parallel meaning each example is repeated across all different languages (Examples in this repo are constructed only from human translated portion of eval set to ensure hi

[2021-11-01 19:13] danyaljj opened #526 "Suggestion: stop manual changes to the task readme file"
Instead, have it automatically created with a script.
The task definitions can be moved to live inside the task files.
This should reduce the burden of maintaining this list.

[2021-11-04 07:01] swarooprm commented on #524
Can you address this soon @meghpatel ?

[2021-11-04 07:02] swarooprm commented on #523
@aarunku5, can you check if this can be fixed, else we have to drop this task.

[2021-11-04 07:05] swarooprm commented on #492
@ujjwalaananth, can you have a look at this?

[2021-11-04 07:05] swarooprm commented on #488
@khushal1996, can you address this?

[2021-11-04 07:06] swarooprm commented on #489
@saianirud, can you fix this?

[2021-11-04 07:06] swarooprm commented on #452
We also have two tasks numbered 868

[2021-11-04 07:45] ujjwalaananth commented on #492
Difficult in terms of the explanation not being clear, or difficult as in the expected answers are too complicated? In the latter case, maybe removing { } and escape sequences like \n would make it much clearer, as they are only there for human readability I believe and the resulting query would still be correct, but more straightforward to learn.

[2021-11-04 07:49] ujjwalaananth commented on #492
For example, for the input "Did M0 's art director , director , producer , and writer executive produce , write , produce , and direct M1"

current output is
"SELECT count(*) WHERE {\n?x0 ns:film.director.film M0 .\n?x0 ns:film.director.film M1 .\n?x0 ns:film.film_art_director.films_art_directed M0 .\n?x0 ns:film.producer.films_executive_produced M1 .\n?x0 ns:film.producer.film|ns:film.production_

[2021-11-04 17:38] Palipoor opened #560 "Task 614 has some problem with spacing between words."
I should fix this.

[2021-11-05 07:51] yeganehkordi opened #562 "Task task266_paper_reviews_reviewer_perspective_classification"
It's better to combine very negative/positive and negative/positive classes.

[2021-11-05 07:56] pulkitverma25 commented on #488
@swarooprm I am working on the fix.

[2021-11-05 08:22] pulkitverma25 commented on #524
This can be easily fixed by randomly changing the polarity of a few (approx 40-60%) instances in the description and flipping the corresponding answers to False. I can write a script to do it if it is acceptable?? @swarooprm @danyaljj

[2021-11-06 20:14] Palipoor opened #569 "Another negative example for MMLU tasks."
It seems like the annotators needed one negative example that actually had an incorrect answer, not just an answer with an incorrect format. I couldn't add examples because I lack the knowledge to provide explanations.

[2021-11-06 21:49] eshaanpathak opened #570 "Rename Task Numbers"
The tasks should renamed such that they are properly ordered in the repository. Right now, tasks numbers that are 3 digits long do not always appear before task numbers that are 4 digits long in the `tasks/` directory of the repository or when you type `ls` in this directory in the terminal.

To fix this, we should rename the task numbers be adding a 0 before the 3 digit long task numbers. For exa

[2021-11-06 22:52] #523 closed, assigned to nobody

[2021-11-06 23:49] swarooprm commented on #524
Yes, please go ahead @pulkitverma25

[2021-11-07 23:03] danyaljj opened #572 "Missing language tags"
are missing for the following tasks:
 - 938-943
 - 944-954

@tanay2001 could you address this issue?

[2021-11-07 23:17] danyaljj opened #574 "Task324 issue"
Crowdworkers have the following to say about this task:

From @Palipoor's point of view,

Any thoughts on how we can resolve these, @XudongOliverShen?

[2021-11-07 23:20] danyaljj opened #575 "task 326 improvement"
Following on @Palipoor 's comment:

@XudongOliverShen wondering if you can comment on this?

[2021-11-07 23:21] danyaljj opened #576 "Task 333 noisy instances"
@Palipoor: could you elaborate on the following statement?

is it the noise in the output labels or the phrasing of the inputs?

[2021-11-07 23:28] danyaljj opened #577 "Task 204 improvement"
Here is one comment that we got from cloud annotators:

I think the worker is right; the definition for some of these niche categories is not quite clear.

[2021-11-07 23:28] danyaljj commented on #577
@aarunku5 wondering if you can help with addressing issue?

[2021-11-07 23:29] danyaljj commented on #577
@yeganehkordi 's comment on this task:

[2021-11-07 23:39] danyaljj opened #578 "task226_english_language_answer_relevance_classification"
@yeganehkordi pointed out that:

[2021-11-07 23:39] danyaljj commented on #578
@Maitreyapatel could you address this issue?

[2021-11-07 23:41] danyaljj opened #579 "task383_matres_classification"
According to @Palipoor:

Here are the actual feedback:

[2021-11-07 23:43] danyaljj opened #580 "task386_semeval_2018_task3_irony_detection"
According to @Palipoor:

Here are the actual comments:

regarding n examples: You used the same bad example for a negative as a positive and I still feel like it IS ironic. And this is why i'd greatly worry about the task. It's too ambiguous and

[2021-11-07 23:43] danyaljj commented on #580
@amirrezamirzaei could you help with this issue?

[2021-11-07 23:45] danyaljj opened #581 "Task 456 improvement"
@Palipoor says:

Here is the actual feedback:

[2021-11-07 23:47] danyaljj opened #582 "Task 471 examples"
@Palipoor says:

@Maitreyapatel what do you think we move some of the instances to examples?

[2021-11-08 02:38] tanay2001 commented on #572
Sure, I will fix this issue in a while

[2021-11-08 05:49] yeganehkordi commented on #577
Also, tasks 197 and 198 have the same problem with the genre.

[2021-11-08 06:08] yeganehkordi commented on #579
They are right! This task is hard. I'll try to improve the definitions and the examples.

[2021-11-08 06:33] yeganehkordi opened #583 "Task 284-285"
There are some tags (e.g.,`<br />`) in the inputs that should be removed. Also, the instances are not shuffled.

[2021-11-08 17:01] danyaljj opened #584 "task1541_agnews_classification"
Instances of this task contain unusual backslashes which create problems during human evaluation.

For example:

[2021-11-08 17:03] RushangKaria commented on #582
@danyaljj i can take this one. However im unable to assign to myself. Could you please assign it to me?

thanks!

[2021-11-08 17:13] danyaljj commented on #582
Done, thanks!

[2021-11-09 22:25] Maitreyapatel commented on #578
Yes, I can address this issue.

[2021-11-10 06:34] CodeHime commented on #583
I will take this one up.

[2021-11-10 11:49] amirrezamirzaei commented on #584
I will fix this.

[2021-11-10 11:49] amirrezamirzaei commented on #522
I think we can close this issue.

[2021-11-10 17:24] danyaljj opened #588 "non english tasks should state the language in the instructions."

[2021-11-10 17:33] yeganehkordi opened #589 "Task547_spl_translation_entk_en and task560_alt_translation_en_entk"
The instruction is incomplete, and it seems the task is to remove the space before punctuation marks. @PhaniRohithaKaza Can you explain the tokens?

[2021-11-10 21:29] yeganehkordi opened #591 "ALT tasks (535-549 and 551-562)"
We need better explanations for the translations based on the annotators' feedbacks. I can't provide the explanations cause I don't know any of these languages. Here is the feedback:

regarding n examples: `I think the quality on this one is pretty good, but it has the same issue as the Positives: the explanations copy/paste. It's hard to want to put effort in when someone didn't go through effort

[2021-11-10 21:54] PhaniRohithaKaza commented on #589
@yeganehkordi The task is sentence translation and the task what usually does is convert given english sentence to it's tokens. But as tokens are also in english the input and output doesn't differ. Even I'm confused on this task. @swarooprm can you please look into it and help us.

[2021-11-10 22:56] yeganehkordi commented on #589
Yeah, except for punctuations, they seem to be the same.

[2021-11-10 23:29] yeganehkordi opened #592 "task564_discofuse_classification"
The discourse types need to be defined in the definition of this task.

[2021-11-11 04:28] kurbster commented on #489
I can fix this issue.

[2021-11-11 04:36] RushangKaria commented on #582
I've kept the original examples as-is, and instead appended new ones from the instances as suggested.

[2021-11-11 04:43] danyaljj commented on #582
Sounds good!

[2021-11-11 04:44] #582 closed, assigned to RushangKaria

[2021-11-11 15:30] #572 closed, assigned to nobody

[2021-11-11 17:58] aarunku5 commented on #452
There are also two tasks numbered 672

[2021-11-11 18:22] RushangKaria commented on #577
@danyaljj i can take this on!

[2021-11-12 00:02] kurbster commented on #489
For task 886, the Quail dataset has only one question per instance. In the schema of the dataset, the `question` value is a string, not a list. They offer 4 different answers (like multiple choice) for each question and only 1 question for each instance.

I have opened PR #598 with my changes to these tasks.

[2021-11-12 00:14] kurbster commented on #592
I can work on this.

[2021-11-12 07:57] tanay2001 opened #599 "Issues with task 939, 941, 943"
I just noticed after #595 was merged it changed the `output_language` label for tasks `939`,`941`,`943`. The outputs for the following tasks are meant to be in English based on how the json file was created.

Just wanna confirm if this is an issue or its fine

Thanks

[2021-11-12 18:11] danyaljj commented on #599
You're right, I missed your comment 🤦
Let's fix these issues in a new PR.

[2021-11-12 18:32] #489 closed, assigned to nobody

[2021-11-12 18:47] danyaljj opened #602 "Failing tests in the main branch"
Looks like I broke the tests in the main branch by prematurely merging the following PR 🤦
https://github.com/allenai/natural-instructions-expansion/pull/598

The issue seems to be related to categories/domains.
@yeganehkordi @ghlai9665 @swarooprm wondering if you can take a look at the issue?

[2021-11-12 18:57] yeganehkordi commented on #602
I'll fix this now!

[2021-11-12 20:17] Palipoor opened #604 "Task 1191 has very imbalanced labels."

[2021-11-12 20:18] Palipoor commented on #604
Also 1192.

[2021-11-12 20:19] Palipoor commented on #604
and 1193.

[2021-11-13 22:42] #584 closed, assigned to amirrezamirzaei

[2021-11-13 22:42] #602 closed, assigned to nobody

[2021-11-13 23:11] pulkitverma25 commented on #569
I am working on it. (See [Discussion #467](https://github.com/allenai/natural-instructions-expansion/discussions/467#discussioncomment-1635408))

[2021-11-13 23:19] #522 closed, assigned to nobody

[2021-11-13 23:23] danyaljj opened #610 "Task 902 + 903 bug"
All the instances are mapped to "true" labels.

[2021-11-13 23:43] danyaljj opened #611 "task 27 skew"
DROP classification into (Date.|Number.|Span.) is heavily skewed.
@swarooprm do you happen to have your scripts for this dataset?

[2021-11-13 23:44] danyaljj opened #612 "task265_paper_reviews_language_identification"
Classification into en/es is heavily skewed.
@Mihir3009 looks like you have contributed this task. Could you help with fixing the skew issue?

[2021-11-14 00:01] danyaljj opened #615 "task150_afs_argument_quality_gun_control.json"
Invalid|Valid classification task is heavily skewed.

@liusiyi641, wondering if you can make the instances of this task more balanced?

[2021-11-14 00:04] danyaljj opened #616 "task1489_sarcasmdetection_tweet_classification skew"
@Ishani-Mondal this task is heavily skewed.
Could you redo the instances and fix the skew?

[2021-11-14 00:08] danyaljj opened #617 "task838_cdt_classification.json skew"
@akhileshamara  the task that you have contributed (classification to 0 or 1) is heavily skewed towards zero.
Could you repopulate the instances so that they're less skewed?

[2021-11-14 02:43] danyaljj opened #619 "task050_multirc_answerability.json skew"
Has a massive skew:
[code]
@swarooprm happen to have the script for collecting the instances of this dataset?

[2021-11-14 03:04] danyaljj commented on #604
Right, these are borderline-imbalanced for us (entropy >0.8):
[code]
Definitely not desirable, but I think we can live with this level of imbalance.

[2021-11-14 03:37] danyaljj opened #621 "Potential bug in task202_mnli_contradiction_classification.json"
Task description mentions `Indicate your answer as '1', '2', or '3' corresponding to the choice number of the selected sentence.`
although all the instance labels are either 1 or 3 (no 2's).

@aarunku5 I think you have contributed this task. Could you take a look, please?

[2021-11-14 03:38] danyaljj commented on #621
Similarly, in `task200_mnli_entailment_classification.json`

[2021-11-14 03:44] #383 closed, assigned to nobody

[2021-11-14 05:13] Palipoor opened #622 "Special tokens in task inputs"
I don't know whether this counts as an issue or not, but in some tasks, there are special tokens for blanks or separation, like <sep> or [MASK]. Is this ok? I feel like this might overestimate the performance of models. Maybe we can replace them with normal separation (\n maybe) and blanks ( __ maybe).

[2021-11-14 21:35] yeganehkordi opened #626 "Tasks 1285-1307: kpa dataset"
These tasks have the same definitions with different domains. @ashok-arjun, Can you change the definitions? For example, we can have summary generation, argument generation, etc.

[2021-11-15 00:53] #578 closed, assigned to Maitreyapatel

[2021-11-15 03:04] danyaljj opened #629 "task1148_maximum_ascii_value improvement"
@Palipoor mentioned that:

This is a valid point. The instructions should define what the asci values are for the characters used in the input.
A subset of this table might be helpful: https://www.cs.cmu.edu/~pattis/15-1XX/common/handouts/ascii.html

[2021-11-15 03:07] danyaljj opened #630 "task1186_nne_hrngo_classification improvement"
@Palipoor pointed out that:

I agree with this.
Two items:
 - The definition should be crisper
 - We should binarize the labels to prevent any confusion among human annotators.

[2021-11-15 03:07] danyaljj commented on #630
@Sujan242 I think you have contributed this task. Will you be able to address this issue?

[2021-11-15 03:13] danyaljj commented on #622
As long as it is human-readable and consistently used in the task (across instances, negative/positive examples), it's fine.

[2021-11-15 03:14] danyaljj commented on #622
In some ways, we want the diversity of such separator tokens. If you would be bad if, say, we train a model that have seen only `\n` and it breaks down with a slight change in the separators.

[2021-11-15 03:18] danyaljj opened #631 "mmmlu tasks improvement"
Our human annotators are complaining about the task definitions for the MMMLU tasks.

I think part of the issue is that the tasks don't explain enough about the desired outputs.
For example, here:
https://github.com/allenai/natural-instructions-expansion/blob/master/tasks/task667_mmmlu_answer_generation_business_ethics.json

The only thing said is that `"You are given a question on business ethics

[2021-11-15 03:19] danyaljj commented on #631
@Sujan242 could you work on improving these task definitions?

[2021-11-15 03:49] mishra-sid commented on #629
Hi, I'll take this task.

[2021-11-15 16:09] #629 closed, assigned to mishra-sid

[2021-11-15 16:12] danyaljj commented on #630
Thanks!

Could you also improve the explanation for this?
[code]
the explanation should say why that is the case.
And ideally, add a few other examples with different explanations.

[2021-11-15 21:50] mishra-sid commented on #626
Hi, since it requires just updating the task definitions, I can work on this.

[2021-11-16 05:29] #599 closed, assigned to nobody

[2021-11-16 09:27] yeganehkordi commented on #626
Hi, it's not just the definition; the whole task needs to be changed. These tasks are the same, and we need to change some of them to have new different tasks.
It would be great if you could work on this.

[2021-11-16 09:35] danyaljj commented on #626
@yeganehkordi Could you elaborate more on what is the issue?

[2021-11-16 09:49] yeganehkordi commented on #626
Yeah, the kpa dataset consists of arguments and their summary in different topics(gathered from many sources). Each of these tasks is to verify the summary in a given topic, and the only difference in the tasks is their topic. Actually, I think the contributor didn't need to separate the topics into different tasks, because knowing the topic doesn't make any difference in summary verification.
My

[2021-11-16 09:56] mishra-sid commented on #626
Makes sense, thanks for the clarification. Maybe I can drop all the existing datasets on kpa, aggregate the instances from those datasets and make the new suggested tasks ?

[2021-11-16 10:05] yeganehkordi commented on #626
I agree! I guess it would be preferable to provide as many different tasks as you can.

[2021-11-16 23:43] #583 closed, assigned to CodeHime

[2021-11-17 12:15] XudongOliverShen commented on #574
Thanks for both @danyaljj and @Palipoor, it's actually my fault. The disagree attribute (a count) does NOT mean the comment expressing disagreement, but is the number of disagree clicks the comment received. Thus, I have reframed this task as follows. If looks good to you, I will create a PR to fix.

[code]

More details about this new task. A comment has 5 feedback variables, "funny", "wow", "sad

[2021-11-17 17:27] XudongOliverShen commented on #575
I did a quick check. Among 719 sentences containing "damn" or "Damn", 714 have label "obscene". Among 510 sentences containing "shit" or "Shit", 509 have label "obscene". So what @Palipoor said is true. On the other hand, among 3212 sentences labeled "obscene", only 1209 sentences contains "damn", "Damn", "shit", or "Shit". Thus, these words are not enough to predict obscenity.

I would say we do

[2021-11-17 21:19] #622 closed, assigned to nobody

[2021-11-17 21:23] Palipoor commented on #610
I think it's only 903. For 902, it's just a matter of shuffle, not labels.

[2021-11-17 21:23] #604 closed, assigned to nobody

[2021-11-17 21:29] Palipoor commented on #576
Hi! Sorry for the delay.
I think the labels are noisy.
For example: (I censored it)
`This bloke is the sort of c**t who's old woman is fucking someone else but says well what can you do?!"`
this is labeled: not hateful.
Or this is labeled hateful:
`Some women find the Harvey kind of harassment and rape to be not that bad and may even encourage it from time to time depending on hormones.`
This is n

[2021-11-17 21:31] Palipoor commented on #575
Thanks, @XudongOliverShen. It makes sense, but maybe we should change the definition of the task then. As it explicitly says: "Obscenity refers to materials and acts of pornography that are offensive to the public sense of decency"

[2021-11-17 21:33] #560 closed, assigned to Palipoor

[2021-11-17 22:47] Palipoor opened #637 "Task 1361"
So in task 1361's description, it says "you must classify if a given review is positive/negative", which sounds to me like "satisfied/dissatisfied review", but the examples in positive examples are negative, but they're labeled as positive, and there's no proper explanation. Also, the dataset URL doesn't work.

[2021-11-18 01:05] Palipoor opened #639 "URLs in tasks 1601 and 1602 don't work (freebase)"
The tasks are based on some given URLs (generate question/ give an answer based on the contents of a web page), but the URLs don't work, as they're all from freebase.com which seems to be shut down.

[2021-11-18 01:11] danyaljj commented on #639
Yeah, FreeBase no longer exists. But the URLs are nothing but the name of the concepts which are articulated at the end of each URL.
So Ia simple transformation like this should do the trick, I think:

[code]

[2021-11-18 04:40] Palipoor opened #640 "English examples, Croatian instances [tasks 1626 - 1629]"
These tasks are in Croatian, but their examples are in English.

[2021-11-18 04:41] Palipoor commented on #639
It makes sense, I will fix it.

[2021-11-18 16:49] pulkitverma25 commented on #477
Addressed in https://github.com/allenai/natural-instructions-expansion/pull/587

[2021-11-18 17:01] Palipoor opened #642 "Seemingly unrelated instances in tasks 1669 and 1670."
The instances in tasks 1669 contain a lot of examples that don't seem related, or rather noisy. I'm not sure.
The task is to "change male-gendered words and pronouns to female-gendered ones, or add words that are female-gendered" or the other way around (in the other task). But here are some examples from instances that are not doing that:

[code]

[2021-11-18 19:49] pulkitverma25 opened #645 "Task 738 is incomplete"
Task 738 has missing perspectives for all the instances.
@Palipoor Ca you have a look once?

[2021-11-18 21:46] Palipoor commented on #645
Oh! I must've messed up in the codes somewhere. Will fix this ASAP.

[2021-11-19 04:07] danyaljj commented on #645
Good catch!

[2021-11-19 04:08] #645 closed, assigned to nobody

[2021-11-19 04:32] danyaljj commented on #631
@Sujan242 checking there are any updates on this thread.

[2021-11-19 04:33] #630 closed, assigned to nobody

[2021-11-19 04:33] danyaljj commented on #626
Yeah, if it's too difficult to fix a task, it's better to drop it completely.

[2021-11-19 04:35] #592 closed, assigned to kurbster

[2021-11-19 04:36] danyaljj commented on #577
@RushangKaria checking if there are any updates on this thread?

[2021-11-19 04:37] RushangKaria commented on #577
@danyaljj Will put up the PR tomorrow.

[2021-11-19 04:42] danyaljj commented on #492
Right, I am actually not sure. For now, let's keep the issue open, in case we have good ideas for solving it.

[2021-11-19 04:43] Sujan242 commented on #631
Hey Daniel!
I have my university exams going on now. Is it fine if I push my changes by Wednesday?

[2021-11-19 05:01] danyaljj commented on #631
Sounds good.

[2021-11-19 15:02] mishra-sid commented on #626
@danyaljj Do you think it's worth spending time creating new tasks using this data(maybe just the simple ones?) or should I just create a PR to drop the existing tasks?

[2021-11-20 06:06] XudongOliverShen commented on #575
fix pushed in #648

[2021-11-20 23:05] RushangKaria commented on #615
@liusiyi641 @danyaljj i have the source code for this task (i created it). LMK if you want the source code or want me to take it instead.

(See edit below).

[2021-11-22 18:37] #640 closed, assigned to nobody

[2021-11-22 20:29] RushangKaria commented on #615
EDIT: i think i mistook the task name with another task. Sorry for the confusion!

[2021-11-22 23:13] danyaljj commented on #576
@XudongOliverShen any thoughts?

[2021-11-22 23:14] #577 closed, assigned to RushangKaria

[2021-11-23 05:23] Sujan242 commented on #631
@pulkitverma25 are there any updates on Discussion #467. The conflicts might be difficult to resolve if we're working on the same tasks.

[2021-11-23 13:56] XudongOliverShen commented on #576
The task from HateEval dataset is to identify hate speech against only women and immigrants. This explains the first two instances spotted by @Palipoor. The last instance is indeed with an incorrect label.

`This bloke is the sort of c**t who's old woman is fucking someone else but says well what can you do?!"`
not hateful against women or immigrants, but hateful against men
`Some women find the H

[2021-11-23 16:15] yeganehkordi opened #652 "Task1412_dart_predicate_identification skew"
This task seems to be heavily skewed toward `food`.
@danyaljj Shall we consider re-sampling or are we going to solve it with down-sampling later?

[2021-11-23 17:37] danyaljj commented on #652
It is skewed, but it's not too bad.
We should fix it, but definitely not a priority.

[2021-11-23 17:47] yeganehkordi commented on #652
Thanks! Also, I guess it's not present in the Tasks statistics file because it has more than 15 outputs. Maybe we can consider a higher threshold.

[2021-11-23 17:56] danyaljj commented on #652
That's a good observation! We should consider increasing that limit.

[2021-11-23 21:01] yeganehkordi commented on #652
We may need to set the limit higher than 45. I've checked this task now. Here is the result:
   📋 classes: ['1880' '1913' '1960' '1965' '1968' '1970' '1975' '1977' '1985' '1992'
 '2.20' '2000' '2002' '2007' '2008' '2009' '2010' '2011' '2013' 'B.P.'
 'CAN' 'GP' 'HR' 'IATA' 'IPA' 'L3' 'MVP' 'N/R' 'NC' 'PF' 'PLACE' 'RF'
 'SCORE' 'SPG' 'SURFACE' 'TDP' 'TFR' 'V2' 'V3' 'V4' 'customer rating'
 'food']

[2021-11-23 21:16] danyaljj commented on #652
Oh, that's quite a skew!  Downsampling is not gonna fix it.

@RushangKaria looks like you have added this task. Do we have more instances that have labels other than `food`?

[2021-11-23 21:38] RushangKaria commented on #652
@danyaljj  I'll take a look and update tonight!

[2021-11-24 00:19] Palipoor commented on #616
This dataset seems to be unavailable to public, so I think we can't change it unless the contributor themself fixes it.

[2021-11-24 11:02] Sujan242 commented on #631
I have added the definitions for lesser-known subjects like business ethics in my PR. However, things like "should they pick something that is more ethical or less ethical?" are quite clear when you are looking at an individual instance. Let me know if this is fine or it should be improved further.

[2021-11-24 11:39] pulkitverma25 commented on #631
Since the updates are in different parts of the files, this shouldn't be difficult. You go ahead and submit your changes, I will take care of the merge.
To avoid any confusion: The only issue related to MMMLU tasks that I am currently working on is #569

[2021-11-24 16:40] #639 closed, assigned to nobody

[2021-11-24 16:40] #576 closed, assigned to nobody

[2021-11-25 16:21] Ishani-Mondal commented on #616
@danyaljj fixed the issue.

[2021-11-25 20:41] danyaljj commented on #616
Thanks! You're going to share it in a PR?

[2021-11-29 00:20] #524 closed, assigned to nobody

[2021-11-29 00:22] #631 closed, assigned to nobody

[2021-11-29 00:24] #574 closed, assigned to nobody

[2021-11-29 00:24] #575 closed, assigned to nobody

[2021-11-29 02:55] pulkitverma25 commented on #610
903 was addressed in https://github.com/allenai/natural-instructions-expansion/pull/655

[2021-11-30 06:54] RushangKaria commented on #652
@danyaljj sorry for the delay! Went on thanksgiving break.

Yes, we can add other instances if needed. Its finals week this week so ill update a bit later.

[2021-11-30 08:58] pulkitverma25 opened #661 "task697 is incomplete."
For any question on formal logic sentence, vocabulary, universe, and semantics should also be given to validate if the sentence evaluates to true or false. The task assumes an implied mental model of these things. For any statement, I can create a universe, vocabulary, and semantics to make all options true. I think we should remove this task.

[2021-11-30 09:00] pulkitverma25 commented on #661
E.g.,
[code]
It assumes what E, a, A, c, e, x, and y mean in the options, and chooses a correct answer based on the original authors universe, vocabulary, and the semantics.

[2021-11-30 09:18] pulkitverma25 opened #662 "task702 and task711 incomplete/insufficient instances"
Just found out this instance in task702:

[code]
I just cannot answer correctly based on the information provided. There are some other such instances too in this task for which the given information is insufficient.

[2021-11-30 11:05] pulkitverma25 commented on #662
Same issue with task711:
[code]

[2021-12-01 04:01] pulkitverma25 opened #664 "Some instances in task667 does not make sense."
Many of the instances in task667 does not make sense. They are based on info that is not included in the question.
E.g.:
        {
            "input": "The complexity of the theory.\n(A)1,2,3,4 (B)1,3,4 (C)1,2,3 (D)1,2,4",
            "output": [
                "C"
            ]
        },
        {
            "input": "The Private Sector Social Enterprise Model.\n(A)1,2,4 (B)2,3,4 (C)1,2,3,4 (

[2021-12-01 04:02] pulkitverma25 commented on #664
I am planning to remove all such instances from these 2 files.

[2021-12-01 05:48] #569 closed, assigned to nobody

[2021-12-01 05:50] danyaljj commented on #664
hmm ... these instances were like this in the original dataset? Or somehow we messed up in reading the data?

[2021-12-01 06:12] pulkitverma25 commented on #664
I haven't seen the original dataset, I can check it out.

@sujan242 Can you also have a look at it? Did your script remove some information from the questions by any chance?

[2021-12-01 06:38] Sujan242 commented on #664
These instances are present in the original dataset as well(https://github.com/hendrycks/test).
![image](https://user-images.githubusercontent.com/48852710/144184217-a630931d-75e5-4e44-a197-621e2dfac506.png)

Let me take this issue up because simply removing these instances might introduce skewness.

[2021-12-01 06:45] pulkitverma25 commented on #664
Check PR#665 once. I don't think there are too many such instances. If you think such instances are low, we need not worry about skewness.

[2021-12-01 06:54] Sujan242 commented on #664
Thanks! I think we need not worry about skewness since there are fewer than 20 such instances.

[2021-12-03 14:05] pulkitverma25 commented on #612
The dataset itself is heavily skewed.
From the source page: "The data set consists of paper reviews sent to an international conference mostly in Spanish (some are in English)".

We either drop instances with "es" label or add English instances from some other dataset like https://www.cs.cmu.edu/~dongyeok/papers/naacl18kang_peerread.pdf

Dropping instances with "es" label to remove skew will leave

[2021-12-03 14:11] pulkitverma25 commented on #581
@yeganehkordi I can work on it. Let me know if needed.

[2021-12-03 14:20] yeganehkordi commented on #581
Sounds good, Thanks!

[2021-12-05 16:28] #588 closed, assigned to danyaljj

[2021-12-05 16:29] #257 closed, assigned to nobody

[2021-12-05 16:31] #95 closed, assigned to nobody

[2021-12-05 16:31] #119 closed, assigned to nobody

[2021-12-05 16:31] #112 closed, assigned to nobody

[2021-12-05 16:32] danyaljj commented on #77
@swarooprm is this still an issue?

[2021-12-05 16:34] #217 closed, assigned to nobody

[2021-12-05 16:36] #289 closed, assigned to nobody

[2021-12-07 18:25] #581 closed, assigned to nobody

[2021-12-07 18:35] danyaljj commented on #612
yeah, adding English sentences/reviews sounds like the right way to go.

[2021-12-07 18:35] danyaljj commented on #652
Let us know if you can address this in the coming days.

[2021-12-07 18:38] danyaljj commented on #661
Do you think humans (e.g., crowdworkers) would be able to solve these?
My rule-of-thumb is, if humans can do it, it's reasonable to expect machines to do it as well.

[2021-12-07 18:39] danyaljj commented on #626
Let's drop it.

[2021-12-07 18:40] danyaljj commented on #616
@Ishani-Mondal checking if you have seen the earlier message.

[2021-12-07 18:41] danyaljj commented on #610
Should we close this?

[2021-12-07 18:43] danyaljj commented on #580
@amirrezamirzaei just checking if you have seen the earlier message?

[2021-12-07 18:44] danyaljj commented on #664
@pulkitverma25 good to close this issue?

[2021-12-08 13:21] Ishani-Mondal commented on #616
@d

@danyaljj how and where to do that?

[2021-12-08 23:13] danyaljj commented on #616
Earlier you mentioned that you "fixed the issue." Push the fix to a branch and create a [pull request](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request).

[2021-12-09 14:48] amirrezamirzaei commented on #580
sorry completely forgot about this.
I looked at some of the instances myself. detecting irony is a bit of a conservational task even for humans but I think the quality of the data is good here.
we can describe irony using the three classes in task 387 ("polarity","situational","other"). I can also remove the "other" class from this task to make it a bit easier.

[2021-12-09 18:58] pulkitverma25 commented on #664
Yes. We can close this now.

[2021-12-09 18:58] #664 closed, assigned to nobody

[2021-12-09 22:42] RushangKaria commented on #652
@danyaljj yes, ill put up a PR this weekend!

[2021-12-10 13:20] pulkitverma25 commented on #621
One possible solution will be to drop the label "2" from the instructions.
But even after that, the resulting task will be skewed. The number of instances with label "3" is 5 times those of instances with label  "1".

[2021-12-10 13:23] pulkitverma25 commented on #610
Yes, we can close this now.

[2021-12-10 13:37] pulkitverma25 commented on #579
Same issue with tasks 456, 457, 458, and 459.
They have similar descriptions

.

[2021-12-10 21:14] #637 closed, assigned to nobody

[2021-12-11 02:22] pulkitverma25 commented on #452
@danyaljj Are we going to renumber all the tasks?
If not, I can simply renumber the repeating task numbers.

[2021-12-11 03:35] #580 closed, assigned to nobody

[2021-12-11 03:36] #610 closed, assigned to nobody

[2021-12-11 04:03] pulkitverma25 commented on #661
Some crowd workers might do it. If the bar is simply " if humans can do it, it's reasonable to expect machines to do it as well", then I think we can keep the task as is.

[2021-12-11 04:38] pulkitverma25 commented on #662
@Sujan242 Can you have a look at this?
Are these instances directly picked from the dataset?

[2021-12-11 07:34] Sujan242 commented on #662
Yes, these instances are present in the original dataset as well. Similar to some other tasks, I feel some external knowledge is required to answer these questions.

[2021-12-11 19:49] Palipoor opened #677 "Task 1000 description"
In task 1000, the input language is Tamil and the output is Malayalam, but the description is not correct. (`A text is given in Malayalam. Translate it from the Malayalam language to the Tamil language.`)

[2021-12-11 20:02] danyaljj commented on #677
Nice catch! I wonder if we can have an automatic check for this? (like, if the language of the input is not English, make sure that the language name is mentioned in the instructions).

[2021-12-11 20:13] Palipoor commented on #611
I will fix this.

[2021-12-12 22:46] #677 closed, assigned to nobody

[2021-12-13 23:31] RushangKaria commented on #652
Hi @danyaljj

It looks like the "food" label is the only predicate that actually appears in the sentence.
Other sentences in this dataset have different special labels that appear as predicates for which there is no documentation.

I've put up a PR using these special tags however im not sure where to find their definitions.

[2021-12-14 21:28] Palipoor commented on #621
I will fix this.

[2021-12-14 23:43] #611 closed, assigned to nobody

[2021-12-15 19:52] Palipoor commented on #619
I will look into this.

[2021-12-16 01:52] Palipoor commented on #619
There's a problem that I can't figure out. It seems to me that the answerability data is extracted from multirc by using sentences from the passages paired with questions. But, when I was trying to make sure this is how the data is gathered, I found out that there's almost no overlap between the questions in this file and the multirc data! I checked both the data on their own website and the data

[2021-12-16 11:27] Ishani-Mondal commented on #616
Done. please check if that is successful. Or else, here is the updated link of the non-skewed JSON File : https://github.com/Ishani-Mondal/Tasks_Instructions/blob/main/task1489_sarcasmdetection_tweet_classification.json

[2021-12-17 02:11] #652 closed, assigned to nobody

[2021-12-17 16:00] pulkitverma25 commented on #662
In that case, we should remove "This question refers to the following information".
It gives the perception that the question can be answered only using the paragraph.
Not sure if this was intended by the original dataset creators.

@danyaljj What would you suggest?

[2021-12-18 04:00] danyaljj commented on #619
Oh, this is not doable using the published data. @swarooprm is an internal annotation for this. Only he can fix this issue. @Palipoor sorry didn't realize this earlier. Feel free to focus on a different issue.

[2022-01-03 22:22] danyaljj commented on #579
@yeganehkordi if this still an issue or we should close it?

[2022-01-04 22:42] yeganehkordi commented on #579
Sorry for being late. I created the PR, and I think it's not an issue anymore.

[2022-01-05 03:34] pulkitverma25 commented on #612
@danyaljj I might not get time to work on this before Jan 15. I hope that's ok.

[2022-01-05 03:47] danyaljj commented on #612
Sounds good, thanks for letting me know!

[2022-01-05 22:29] #488 closed, assigned to nobody

[2022-01-06 20:26] yeganehkordi opened #685 "Task1562_clickbait_new_bg_answer_generation"
This task is to generate the fake news score based on the given news.
`Fake-news score is a numeric value indicating whether the given news article is fake or not. The score is a numeric value ranging from 0 to 10.`
I think it can be so hard even for humans to generate this score because we don't have a metric for recognizing the difference between the scores. I saw we don't have feedback on this

[2022-01-07 17:28] yeganehkordi opened #686 "Task1578 and Task288"
These tasks are summarization tasks based on the Gigaword dataset. They are almost the same.

[2022-01-10 14:01] #579 closed, assigned to yeganehkordi

[2022-01-10 15:45] #616 closed, assigned to nobody

[2022-01-24 22:29] danyaljj opened #692 "Additional classification tasks"
https://arxiv.org/pdf/2009.14335.pdf

[2022-01-31 18:14] Palipoor commented on #692
I can work on this!

[2022-01-31 19:56] #477 closed, assigned to nobody

[2022-01-31 19:58] danyaljj commented on #452
Thanks! We should definitely address these and have a test that prevents repeated numbers.

[2022-01-31 19:58] #465 closed, assigned to nobody

[2022-01-31 20:00] #482 closed, assigned to nobody

[2022-01-31 20:01] danyaljj commented on #685
Agreed. I am fine if we drop these tasks.

[2022-01-31 20:02] #366 closed, assigned to nobody

[2022-02-03 19:32] Palipoor commented on #686
Task 288 has 6500 instances and task 1578 has almost 1900. Both are probably randomly sampled from Gigaword. Also, task 288 has better explanations. I guess we can keep 288 and drop 1578.
Also, task 1579 is "incorrect summary generation" and task 289 is verifying whether a summary is correct. I think task 289 makes more sense. An incorrect summary can be anything.
@danyaljj Should I drop those two

[2022-02-03 19:45] danyaljj commented on #686
Here is a suggestion:

- I think there is value in having multiple task definitions. In one PR, we can change the `"Definition": ""` field to `"Definition": [""]`.
- In followup PRs, we can merge the tasks that are equivalent **and** based on the same underlying dataset.

What do you think?

[2022-02-03 19:56] Palipoor commented on #662
In the actual dataset, this phrase is present. However, the dataset seems to be a benchmark to assess world knowledge in a model, so I think we should remove this from the instructions:

If it sounds good to you all, I will do it.

[2022-02-03 20:00] Palipoor commented on #686
It sounds good to me! Although in this particular case what I meant was the explanations for positive and negative examples are better in task 288. Do we have many other duplicate tasks?

[2022-02-03 20:07] danyaljj commented on #686
I think do, we just haven't found them yet :)

I think we're optimizing two objectives: more diversity for our annotations (more examples, more definitions, etc.) while reducing noise and redundancy (fewer duplications, fewer garbage examples, etc.) So, if the examples/explanations are not quite duplicate/noisy (as in, a human can read and be, at least partially, convinced), I'd say let's retain t

[2022-02-03 20:11] Palipoor commented on #661
I am going to second @pulkitverma25's comment. The notation used in the answer choices is weird, and even for someone who knows formal logic, it might need explanation. I guess we can keep it and just increase the number of examples, to cover different operators.

[2022-02-03 20:18] danyaljj commented on #661
Sounds fair to me.

[2022-02-03 20:19] danyaljj commented on #662
Looks like your comment is not rendering properly ...

[2022-02-03 20:46] Palipoor commented on #662
@danyaljj fixed

[2022-02-03 20:52] danyaljj commented on #662
Sounds good to me!

[2022-02-03 20:56] danyaljj commented on #626
Actually, looking through the conversation, not sure why I suggested to drop the tasks. How about we go ahead with @yeganehkordi 's suggestion of merging the tasks? (if I understood it correctly). @Palipoor do you have any suggestions here?

[2022-02-04 03:11] pulkitverma25 commented on #662
Yes. Sounds good.  We can drop just the phrase.

[2022-02-04 11:30] ashok-arjun commented on #626
Sorry I have been busy over the past few months, and couldn't be active here.

Actually, I think that having the topic (eg. `Assisted suicide should be a criminal offence`) makes a lot of difference in a specific task, as it covers a part of the question for all the instances. I feel it is similar to having the topic as `translate from en-->fr` and then having instances under the task.

On the oth

[2022-02-04 16:25] yeganehkordi commented on #626
I think having different topics in summary verification tasks won't make much difference in solving the tasks, and they don't need different information or skills. It just slightly changes the domains. While understanding a language and writing in that language requires different skills; someone might translate a sentence from English to French, and not be able to translate French to English.

In

[2022-02-04 22:28] Palipoor commented on #626
I think different translation datasets that are extracted from different sources should be in different tasks. Translating a tweet from English to French is a lot different from translating a Wikipedia page, for instance.
However, in the kpa case, I don't think the tasks are that different from each other. In addition to this, I don't even think it's necessary to include the topics in the task des

[2022-02-04 22:29] Palipoor commented on #626
I think we can easily merge them into one task. I only dropped them because I thought it was agreed upon.

[2022-02-05 09:12] danyaljj commented on #662
Based on #697, we should close this now?

[2022-02-05 14:17] Palipoor commented on #621
@danyaljj I think we can close this.

[2022-02-05 19:14] danyaljj commented on #661
#698 has improved the task with a few examples, bit it is still a bit odd. Closing it, for now, if you see that it can be improved in anyway, let's discuss it.

[2022-02-05 19:14] #661 closed, assigned to nobody

[2022-02-05 19:21] #685 closed, assigned to nobody

[2022-02-05 19:23] #621 closed, assigned to nobody

[2022-02-05 20:25] swarooprm commented on #619
I will handle this one today.

[2022-02-06 05:02] danyaljj opened #703 "Indirect responses"
https://arxiv.org/pdf/2010.03450.pdf

[2022-02-07 19:15] #619 closed, assigned to nobody

[2022-02-08 17:37] Palipoor commented on #617
This was fixed in  #702.

[2022-02-08 17:37] #617 closed, assigned to nobody

[2022-02-08 17:44] Palipoor opened #706 "The problem with task 839"
Summarizing my comment in #702 :

Task 839 is based on the CDT dataset. The CDT itself is skewed and contains a lot of non-bullying instances. It seems like this task is constructed from a lot of non-bullying instances, and adding either "Does the tweet contain cyberbullying (harmful) content?" or "Question: Is the tweet free of any cyberbullying (harmful) content?" to them, to artificially make a

[2022-02-08 17:45] Palipoor commented on #662
@danyaljj yes.

[2022-02-08 17:45] #662 closed, assigned to nobody

[2022-02-08 18:05] Palipoor commented on #615
I took a look at the data. For each argument, there are five yes/no votes. It seems like the "invalid" arguments in the task are the ones that scored 0 or 1 or 2, and the ones that scored 3 or 4 or 5 are the "valid" ones.
If I downsample the valid ones, the whole dataset will be 160 instances (or a bit more if we compromise some entropy.) I can also change the criteria, and label the ones scored 3

[2022-02-08 18:50] Palipoor commented on #589
Yeah, "English tokens" is one of the translated versions in their data. I think we can drop these two tasks. @danyaljj
Also, some of the other tasks from this dataset have two "Domains". I can fix these in a PR.

[2022-02-08 21:21] Palipoor commented on #77
I wrote a script, which is not perfect and I guess will miss some cases, that finds tasks that have the same output for all negative examples, or all positive examples. A lot of these are tasks that have only one negative example(which might be another issue worth addressing), but some of them are indeed annotated incorrectly. I think we manually go through the shortlist and verify/correct.

[2022-02-09 01:53] #452 closed, assigned to nobody

[2022-02-09 01:54] #612 closed, assigned to nobody

[2022-02-09 01:56] danyaljj commented on #589
Sounds good, thank you!

[2022-02-09 01:57] danyaljj commented on #615
Hmm ... it's a bit difficult for me to judge this without seeing the data/examples. Do you think the task is well-defined? Can average humans solve it (i.e., score relatively high, but not necessarily perfect)?

[2022-02-09 01:59] danyaljj commented on #706
So, in summary, you're suggesting to drop both 839 and 838?

[2022-02-09 03:33] liusiyi641 commented on #615
Sorry I just saw this. I remember I binarized the task so that it was more well-defined and more comprehensible for humans. I agree that changing the criteria could be a good idea @Palipoor. Some of the examples scored three aren't good enough indeed.

Some examples of arguments with scores 3: "This is akin to someone learning the value of hard work while working at a fast food place and then appl

[2022-02-09 17:49] Palipoor commented on #706
No, just 839. 838 is balanced now, I downsampled the non-bullying instances.

[2022-02-09 19:01] Palipoor commented on #615
@danyaljj I think the task is well-defined. We can't expect humans to give a 1-5 score, but definitely, the good and bad arguments are distinguishable.
@liusiyi641 Can you share the scripts you used with me so I can change the criteria for all the tasks from this dataset? Or can you do it yourself?

[2022-02-12 22:15] danyaljj commented on #589
Moving some of the comments from #709 to here:

@yeganehkordi 's comment:

@Palipoor 's comment:

[2022-02-12 22:32] swarooprm commented on #589
In my opinion, we could keep en_entk and entk_en tasks and mention in the definition that the task is to remove/add space before punctuation. This is a simple task, but not an invalid task.

Let's not worry about how models are going to process it. E.g. even if the encoder ignores the space, the decoder has to decode it back with space.

My opinion is not very strong and I am also fine if we decid

[2022-02-13 08:06] yeganehkordi commented on #589
I think in the worst-case scenario, we can shuffle the tokens in the input and change these tasks to "order generation" tasks.

[2022-02-25 20:52] danyaljj commented on #615
Just seeing this, sorry! You're basically suggesting we collapse the 5 labels into two (good and bad) labels. Right?

[2022-02-27 07:32] danyaljj commented on #686
@Palipoor wondering if you can help with merging these tasks?

[2022-02-28 06:06] Palipoor commented on #686
Sure! Will do tomorrow.

[2022-03-01 00:33] #706 closed, assigned to nobody

[2022-03-01 00:35] danyaljj commented on #642
(for completeness, these were introduced in PR https://github.com/swarooprm/CSE576HW/pull/51)

Maybe for these sentences that don't have any gendered pronouns, there is nothing that needs to be done?

@narnix17 wondering if you can share your thoughts on these.

[2022-03-01 01:09] Palipoor commented on #615
right!

[2022-03-01 01:09] #686 closed, assigned to nobody

[2022-03-17 07:05] yizhongw opened #738 "Dialog Tasks"
It looks like we don't have many dialog tasks, especially for response generation.

This [webpage](https://github.com/sebastianruder/NLP-progress/blob/master/english/dialogue.md) contains a list of dialog tasks we can consider. I think we should include at least some of the popular tasks.

My suggestion list:
Dialog act classification - Switchboard corpus
Dialog state tracking - Wizard-of-Oz, Mult

[2022-03-17 07:13] yizhongw opened #739 "Data-to-text tasks"
Should we include some data-to-text tasks? Human should do reasonably well on these tasks.

Suggestion datasets:
1. [web_nlg](https://huggingface.co/datasets/web_nlg)
2. [e2e](https://huggingface.co/datasets/e2e_nlg_cleaned)

[2022-03-22 18:38] Palipoor commented on #738
For MultiWOZ we have these:
[code]

[2022-03-22 18:43] yizhongw commented on #738
Right. I also realized we do have more dialogue tasks than I previously thought. But let's still add these common datasets.

[2022-03-31 18:26] Palipoor opened #745 "Tasks 475 and 746 seem to be duplicates?"

[2022-04-01 17:01] Palipoor opened #748 "Readme file has problems"
There're some problems with the readme file.

[2022-04-03 21:47] todpole3 opened #752 "Duplicate tasks: 1508 and 1509"
Task files in repo are exactly the same. Perhaps the correct file for one of the task is missing.

[2022-04-03 21:50] danyaljj commented on #752
@yeganehkordi can you take a look into this?

[2022-04-04 05:22] yeganehkordi commented on #752
Yeah, They are exactly the same. I will check the files in the previous releases.

[2022-04-04 15:27] danyaljj commented on #752
Addressed in #753

[2022-04-04 15:27] #752 closed, assigned to nobody

[2022-04-05 19:01] todpole3 opened #755 "Ungrammatical Instructions for Some Tasks"
Task575 - "The input is taken a dialogue from the conversation between an agent and the customer. Output Agent if the dialogue is spoken by the agent in the conversation, otherwise output customer if it is spoken by the Customer."

Task1599 - "In this task, you have given an utterance, if it's user_utterance label it 1)User and if it's agent_utterance label it 2)Agent. The user always gives comman

[2022-04-05 19:05] yeganehkordi commented on #755
Thanks for your attention, I'll fix them.

[2022-04-05 21:14] yeganehkordi commented on #748
I guess we can close this issue.

[2022-04-05 22:16] #748 closed, assigned to nobody

[2022-04-06 01:13] #755 closed, assigned to nobody

[2022-04-07 00:33] todpole3 opened #757 "Do you have a plan to release a standard evaluation protocol?"
This is an excellent collection of tasks. I wonder if there is a plan to release a standard train/test split or evaluation protocol?
Or is it already released somewhere and I missed it? :) Thanks.

[2022-04-07 01:28] danyaljj commented on #757
The short answer is "yes"!

We are working to consolidate the split and should be able to release something soon -- hopefully in a week or two.

FYI @yizhongw

[2022-04-07 03:06] todpole3 commented on #757
Thanks for the heads-up!

[2022-04-07 03:06] #757 closed, assigned to nobody

[2022-04-12 23:00] danyaljj opened #759 "More crowdworker feedback"
@yeganehkordi @Palipoor wondering if you can help with these?

[code]

[2022-04-13 14:50] yeganehkordi commented on #759
Sure, will do!

[2022-04-13 15:53] danyaljj commented on #759
In this negative example, should the answer be B or A?
https://github.com/allenai/natural-instructions/blob/master/tasks/task1393_superglue_copa_text_completion.json#L50-L54

Also, the language "So, the correct output should be \"B\"" is ambiguous (not clear if "B" is a good answer or not) -- need to improve it.

[2022-04-13 17:53] danyaljj commented on #759
Someone suggested that:

It would be great if we check the mentions of "neural" in the data.

[2022-04-14 16:26] danyaljj commented on #759
More feedback:

 - [ ] task033_winogrande_answer_generation.json
    - `Was helpful but it needs to be clear what the target output is.`
    - `Indicate if two words are allowed, like "the store" or only a single word. `
    - `The is misspelled.`
 - [ ] task034_winogrande_question_modification_object.json
    - `Way too much reading in the instructions when it can mostly be boiled down to replace

[2022-04-14 16:28] Palipoor commented on #759
@yeganehkordi I will start from 200.

[2022-04-14 16:33] yeganehkordi commented on #759
Sounds good.

[2022-04-14 16:34] danyaljj commented on #759
In `task1612_sick_label_classification.json` someone output descriptive labels (`entailment`, etc) while we expected 0, 1, 2. We should improve the instructions so that there is no confusion on this:

[code]

[2022-04-14 16:40] danyaljj commented on #759
While doing this, could you also check the human predictions (the last tab):
https://docs.google.com/spreadsheets/d/1wXStPurP6AamxvglOw0aOJ7V1DiSKczJNyFcyfDnk4w/edit?usp=sharing

See if there is anything that can be improved in the instructions in order to improve human annotators' understanding of each task.

[2022-04-19 14:44] #133 closed, assigned to swarooprm

[2022-04-19 18:08] ruiqi-zhong opened #6 "Sharing BART predictions"
Hey! Would it be possible to share BART's predictions as well (in particular the ones used to generate Table 5)? The repo currently only contains a small subset of it, it seems. I would love to look at the model predictions and get some intuitions about them.

Thanks!!

[2022-04-19 23:58] danyaljj commented on #6
Hey Riqui, How strongly are you tied to this dataset? We can provide the predictions for a larger dataset (https://arxiv.org/pdf/2204.07705.pdf) and a larger model, if that works better.

[2022-04-20 00:03] swarooprm commented on #6
For v1, we have all prediction files saved in AI2 beaker, I can dig in the specific files relevant to Table 5 and share it in the next few days if that's ok.

[2022-04-20 02:52] ruiqi-zhong commented on #6
I was mainly a bit surprised by the fact that fine-tuned BART (a smaller model) can outperform GPT-3 by a large margin, so I want to compare the model predictions head-to-head to get more intuitions.

So I guess any smaller model vs. GPT-3 would help my purpose, and the predictions from the new paper would be great.

Thanks a lot!

(I also skimmed through your new paper. It looks super coool!!! I'

[2022-04-20 15:13] danyaljj commented on #6
Thanks! Would you love to hear your feedback on the work!

In summary,  @swarooprm will share the predictions of BART in the next couple of days.
@yizhongw,  let's plan to share the predictions for the v2 dataset's experiments as we move toward finalizing them.

[2022-04-24 17:53] JunShern commented on #757
Hi @danyaljj, thanks for this work! Can I clarify - since this issue was a few weeks ago, and I saw the paper released recently, were you referring to the paper being released or is there something else coming?

In particular, I am looking for
1. The evaluation split of tasks
2. Code to reproduce the results of the paper (e.g. for finetuning and evaluating on this dataset)

If they are not yet rel

[2022-04-24 18:25] yizhongw commented on #757
Thanks for your interest! We are planning to release the splits and evaluation scripts next week (hopefully by Wed). Does this work for your schedule?

[2022-04-25 15:34] JunShern commented on #757
Amazing, yes next week should work for us! Thanks for the quick response and all the best. :)

[2022-05-07 17:12] JunShern commented on #757
Hi @yizhongw, any update on this? Sorry to rush you, but for our planning it'll be helpful to know whether we will get to include this or not.

[2022-05-09 17:05] danyaljj commented on #759
@yeganehkordi @Palipoor am I correct to assume that this is addressed? Checking if we should close this ...

[2022-05-09 17:07] yeganehkordi commented on #759
Yes, we can close this issue.

[2022-05-09 17:19] #759 closed, assigned to nobody

[2022-05-10 01:01] yizhongw commented on #757
@JunShern Sorry for being late on this! We have merged this [PR](https://github.com/allenai/natural-instructions/pull/764) just now, and now the official evaluation splits can be found [here](https://github.com/allenai/natural-instructions/tree/master/splits). You can follow the instructions there for setting up your experiments.
We also released our [code](https://github.com/yizhongw/Tk-Instruct)

[2022-05-10 14:45] JunShern commented on #757
Amazing, thank you! I'll be looking into it :)

[2022-05-29 13:58] ruiqi-zhong commented on #6
Thanks a lot for sharing the model predictions!! @danyaljj @yizhongw It's really useful for my research.

[2022-05-29 13:58] #6 closed

[2022-07-06 15:20] Zcchill opened #7 "3 subtasks' original datasets (59-61) can't be downloaded"
3 subtasks' datasets (59-61) of v-1.1 can't be downloaded, what I could get are only the oid sha256 of these datasets. I can't use "git lfs pull" to obtain the three datasets since there aren't corresponding repo and I could only find the download url in the webside "https://instructions.apps.allenai.org/#explore". Can you update the three datasets in the webside (without the git lfs option) or up

[2022-07-07 02:38] Zcchill commented on #7
Thank you! I have got the corresponding datasets, I will close the issue.

[2022-07-07 02:38] #7 closed

[2022-08-15 14:21] abrazinskas opened #772 "Task languages"
Hello everyone,

Could anyone please provide the statistics of task languages? In the paper, it is stated that about 500 of tasks are non-English but no details. I was also not able to find this information in the repository.

Thanks for advance,
Arthur

[2022-08-15 18:32] danyaljj commented on #772
Each task file (in https://github.com/allenai/natural-instructions/tree/master/tasks) contains keys that indicate its languages:
[code]
You should be able to write a simple script to collect any statistics that you want.

FYI @yizhongw

[2022-08-15 18:32] #772 closed, assigned to nobody

[2022-08-25 10:02] axelmarmet opened #773 "Data leakage with tasks 1295 and 1640"
Task 1295 is a training task issued from the AdversarialQA dataset and Task 1640 is a testing task also issued from AdversarialQA.
I would assume that this wasn't caught by automated checks because the URLs are different and there is a typo in the `Source` field of task 1640 where the value is "adverserial_qa"

[2022-08-25 14:20] danyaljj commented on #773
@axelmarmet  Thanks for reporting this!

@yeganehkordi  would you be able to address this?

[2022-08-25 19:36] yeganehkordi commented on #773
Sure, task1295 is a "Question Answering" task and task1640 is an "Answerability Classification" task, so they are not exactly the same.
I think one solution may be using different instances in these tasks. Also, we can replace one of them with another task. What do you think?

[2022-08-25 20:16] danyaljj commented on #773
@yizhongw suggests moving this task from `splits/default/train_tasks.txt` to `splits/default/excluded_tasks.txt`.  I think this should address the concern; right?

[2022-08-25 20:17] yeganehkordi commented on #773
Yeah, I'll fix it.